
  .image-accordion-item {
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 500px;
    border-radius: 36px;
    display: flex;
    align-items: flex-end;
    opacity: 0.5;
    transition: 0.5s;
    object-fit: cover;

  }

  

  .image-accordion-item img{
    width: 100px;
    height: 500px;
    object-fit: cover;
    transition: 0.5s;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    filter: grayscale(0.6);
  }
  
  .image-accordion-item:hover {
    opacity: 0.75;
  }
  
  
  .image-accordion-item.active {
    width: 800px;
    opacity: 1;
  }

  .image-accordion-item.active img{
    width: 800px;
    opacity: 1;
  }
  
  .image-accordion-item .material-symbols-outlined {
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    color: rgb(0 0 0 / 80%);
    background: rgb(255 255 255 / 70%);
    border-radius: 50%;
    font-size: 28px;
  }
  
  .image-accordion-item .content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 800px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    padding: 100px 0 20px 20px;
    transition: 0.25s;
  }
  
  .image-accordion-item.active .content {
    opacity: 1;
    visibility: visible;
  }


  @media screen and (max-width: 480px) {
    .image-accordion-item {
      width: 40px;
      height: 300px;
    }  

    .image-accordion-item img{
      width: 40px;
      height: 300px;
    }  

    .image-accordion-item.active {
      width: 160px;
      opacity: 1;
    }
  }

  @media screen and (min-width: 481px) and (max-width: 620px) {
    .image-accordion-item {
      width: 50px;
      height: 380px;
    }  

    .image-accordion-item img{
      width: 50px;
      height: 380px;
    }  

    .image-accordion-item.active {
      width: 220px;
      opacity: 1;
    }
  }

  @media screen and (min-width: 621px) and (max-width: 768px) {
    .image-accordion-item {
      width: 60px;
      height: 400px;
    }  

    .image-accordion-item img{
      width: 60px;
      height: 400px;
    }  

    .image-accordion-item.active {
      width: 290px;
      opacity: 1;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1060px) {
    .image-accordion-item {
      width: 70px;
      height: 450px;
    }  

    .image-accordion-item img{
      width: 70px;
      height: 450px;
    }  

    .image-accordion-item.active {
      width: 400px;
      opacity: 1;
    }
  }

  @media screen and (min-width: 1061px) and (max-width: 1200px) {
    .image-accordion-item {
      width: 90px;
      height: 450px;
    }  

    .image-accordion-item img{
      width: 90px;
      height: 450px;
    }  

    .image-accordion-item.active {
      width: 550px;
      opacity: 1;
    }
  }

  @media screen and (min-width: 1201px) and (max-width: 1700px) {
    .image-accordion-item {
      width: 100px;
      height: 500px;
    }  

    .image-accordion-item img{
      width: 100px;
      height: 500px;
    }  

    .image-accordion-item.active {
      width: 700px;
      opacity: 1;
    }
  }

  @media screen and (min-width: 1701px) and (max-width: 2300px) {
    .image-accordion-item {
      width: 120px;
      height: 550px;
    }  

    .image-accordion-item img{
      width: 120px;
      height: 550px;
    }  

    .image-accordion-item.active {
      width: 900px;
      opacity: 1;
    }

    .image-accordion-item .content {
      width: 900px;
    }

    .image-accordion-item.active img{
      width: 900px;
    }
  }


  @media screen and (min-width: 2301px) {
    .image-accordion-item {
      width: 150px;
      height: 750px;
    }  

    .image-accordion-item img{
      width: 150px;
      height: 750px;
    }  

    .image-accordion-item.active {
      width: 1300px;
      opacity: 1;
    }

    .image-accordion-item .content {
      width: 1300px;
    }

    .image-accordion-item.active img{
      width: 1300px;
    }
  }