
  .image-accordion-item {
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 500px;
    border-radius: 36px;
    display: flex;
    align-items: flex-end;
    opacity: 0.5;
    transition: 0.5s;
    object-fit: cover;

  }

  

  .image-accordion-item img{
    width: 100px;
    height: 500px;
    object-fit: cover;
    transition: 0.5s;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    filter: grayscale(0.6);
  }
  
  .image-accordion-item:hover {
    opacity: 0.75;
  }
  
  
  .image-accordion-item.active {
    width: 800px;
    opacity: 1;
  }

  .image-accordion-item.active img{
    width: 800px;
    opacity: 1;
  }
  
  .image-accordion-item .material-symbols-outlined {
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    color: rgb(0 0 0 / 80%);
    background: rgb(255 255 255 / 70%);
    border-radius: 50%;
    font-size: 28px;
  }
  
  .image-accordion-item .content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 800px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    padding: 100px 0 20px 20px;
    display: flex;
    align-items: center;
    gap: 14px;
    background: linear-gradient(to bottom, rgb(0 0 0 / 0%), rgb(0 0 0 / 80%));
    transition: 0.25s;
  }
  
  .image-accordion-item.active .content {
    opacity: 1;
    visibility: visible;
  }


  @media screen and (max-width: 480px) {
    .image-accordion-item {
      width: 45px;
      height: 300px;
    }  

    .image-accordion-item img{
      width: 45px;
      height: 300px;
    }  

    .image-accordion-item.active {
      width: 180px;
      opacity: 1;
    }
  }